In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
def grade(score):
  if score >= 90 and score <= 100:
        return 'AA'
  elif score >= 80 and score <= 89.9:
        return 'BA'
  elif score >= 70 and score <= 79.9:
        return 'BB'
  elif score >= 65 and score <= 69.9:
        return 'CB'
  elif score >= 60 and score <= 64.9:
        return 'CC'
  elif score >= 50 and score <= 59.9:
        return 'DC'
  elif score >= 30 and score <= 49.9:
        return 'DD'
  else:
        return 'FF'

In [3]:
def success(score):
  if score >= 60 and score <= 100:
      return 'Succesful'
  else:
      return 'Fail'

In [4]:
df = pd.read_excel("/content/drive/MyDrive/GLOBAL - Bootcamp/Sınav_Notları.xlsx")
df["NO"] = df["NO"].astype(int)
df

    NO             Fullname  Midterm  Final  Score Grade    Success
0    1       Michael Jordan    100.0  100.0  100.0    AA  Succesful
1    2         LeBron James     90.0   95.0   93.5    AA  Succesful
2    3  Kareem Abdul-Jabbar     50.0   60.0   57.0    DC       Fail
3    4        Magic Johnson     68.0   88.0   82.0    BA  Succesful
4    5          Kobe Bryant     90.0  100.0   97.0    AA  Succesful
5    6     Shaquille O'Neal     70.0   30.0   42.0    DD       Fail
6    7           Larry Bird     50.0   48.0   48.6    DD       Fail
7    8     Wilt Chamberlain     86.0   65.0   71.3    BB  Succesful
8    9           Tim Duncan     10.0   67.0   49.9    DC       Fail
9   10          Steph Curry     77.0   64.0   67.9   CB   Succesful
10  11         Kevin Durant     29.0   38.0   35.3    DD       Fail
11  12          Bill Russel     79.0   89.0   86.0    BA  Succesful
12  13      Oscar Robertson     64.0   68.0   66.8   CB   Succesful
13  14      Hakeem Olajuwon      0.0   58.0   40.6    DD       Fail
14  15        Kevin Garnett      NaN    NaN    NaN   NaN        NaN
15  16        Kawhi Leonard      NaN    NaN    NaN   NaN        NaN

##**Results for existing student**

In [5]:
def existing():
  global df
  no = input("Please enter the number of the student: ")
  midterm = input("Midterm: ")
  final = input("Final: ")

  score = (int(midterm)*30 + int(final)*70)/100
  print("Score: ",score)

  student = df.query(f'NO == {no}')
  student["Midterm"] = midterm
  student["Final"] = final
  student["Score"] = score
  student["Grade"] = grade(score)
  student["Success"] = success(score)

  df = df.append(student, ignore_index=True)
  return df

In [6]:
#drop NaN values and then reset the dataframe's index
def drop_na_values():
  global df
  df.dropna(subset = ['Success'], inplace=True)
  df = df.reset_index(drop=True)
  return df

In [8]:
existing()

Please enter the number of the student: 16
Midterm: 86
Final: 12
Score:  34.2

    NO             Fullname Midterm  Final  Score Grade    Success
0    1       Michael Jordan   100.0  100.0  100.0    AA  Succesful
1    2         LeBron James    90.0   95.0   93.5    AA  Succesful
2    3  Kareem Abdul-Jabbar    50.0   60.0   57.0    DC       Fail
3    4        Magic Johnson    68.0   88.0   82.0    BA  Succesful
4    5          Kobe Bryant    90.0  100.0   97.0    AA  Succesful
5    6     Shaquille O'Neal    70.0   30.0   42.0    DD       Fail
6    7           Larry Bird    50.0   48.0   48.6    DD       Fail
7    8     Wilt Chamberlain    86.0   65.0   71.3    BB  Succesful
8    9           Tim Duncan    10.0   67.0   49.9    DC       Fail
9   10          Steph Curry    77.0   64.0   67.9   CB   Succesful
10  11         Kevin Durant    29.0   38.0   35.3    DD       Fail
11  12          Bill Russel    79.0   89.0   86.0    BA  Succesful
12  13      Oscar Robertson    64.0   68.0   66.8   CB   Succesful
13  14      Hakeem Olajuwon     0.0   58.0   40.6    DD       Fail
14  15        Kevin Garnett     NaN    NaN    NaN   NaN        NaN
15  16        Kawhi Leonard     NaN    NaN    NaN   NaN        NaN
16  15        Kevin Garnett      72     86   81.8    BA  Succesful
17  16        Kawhi Leonard      86     12   34.2    DD       Fail

In [9]:
drop_na_values()

    NO             Fullname Midterm  Final  Score Grade    Success
0    1       Michael Jordan   100.0  100.0  100.0    AA  Succesful
1    2         LeBron James    90.0   95.0   93.5    AA  Succesful
2    3  Kareem Abdul-Jabbar    50.0   60.0   57.0    DC       Fail
3    4        Magic Johnson    68.0   88.0   82.0    BA  Succesful
4    5          Kobe Bryant    90.0  100.0   97.0    AA  Succesful
5    6     Shaquille O'Neal    70.0   30.0   42.0    DD       Fail
6    7           Larry Bird    50.0   48.0   48.6    DD       Fail
7    8     Wilt Chamberlain    86.0   65.0   71.3    BB  Succesful
8    9           Tim Duncan    10.0   67.0   49.9    DC       Fail
9   10          Steph Curry    77.0   64.0   67.9   CB   Succesful
10  11         Kevin Durant    29.0   38.0   35.3    DD       Fail
11  12          Bill Russel    79.0   89.0   86.0    BA  Succesful
12  13      Oscar Robertson    64.0   68.0   66.8   CB   Succesful
13  14      Hakeem Olajuwon     0.0   58.0   40.6    DD       Fail
14  15        Kevin Garnett      72     86   81.8    BA  Succesful
15  16        Kawhi Leonard      86     12   34.2    DD       Fail

In [ ]:
#df.to_excel("Result.xlsx")

##**Adding a new student**

In [10]:
def new_student():
  global df
  no = input("Please enter the number of the student: ")
  full_name = input("Student's fullname: ")
  midterm = input("Midterm: ")
  final = input("Final: ")

  score = (int(midterm)*30 + int(final)*70)/100
  print("Score: ",score)

  new = pd.Series(data=[no, full_name, midterm, final, score, grade(score), success(score)], index=['NO', 'Fullname','Midterm', 'Final', 'Score', 'Grade', 'Success'])
  df = df.append(new, ignore_index=True)
  return df

In [12]:
new_student()

Please enter the number of the student: 17
Student's fullname: Chris Anderson
Midterm: 64
Final: 86
Score:  79.4

    NO             Fullname Midterm  Final  Score Grade    Success
0    1       Michael Jordan   100.0  100.0  100.0    AA  Succesful
1    2         LeBron James    90.0   95.0   93.5    AA  Succesful
2    3  Kareem Abdul-Jabbar    50.0   60.0   57.0    DC       Fail
3    4        Magic Johnson    68.0   88.0   82.0    BA  Succesful
4    5          Kobe Bryant    90.0  100.0   97.0    AA  Succesful
5    6     Shaquille O'Neal    70.0   30.0   42.0    DD       Fail
6    7           Larry Bird    50.0   48.0   48.6    DD       Fail
7    8     Wilt Chamberlain    86.0   65.0   71.3    BB  Succesful
8    9           Tim Duncan    10.0   67.0   49.9    DC       Fail
9   10          Steph Curry    77.0   64.0   67.9   CB   Succesful
10  11         Kevin Durant    29.0   38.0   35.3    DD       Fail
11  12          Bill Russel    79.0   89.0   86.0    BA  Succesful
12  13      Oscar Robertson    64.0   68.0   66.8   CB   Succesful
13  14      Hakeem Olajuwon     0.0   58.0   40.6    DD       Fail
14  15        Kevin Garnett      72     86   81.8    BA  Succesful
15  16        Kawhi Leonard      86     12   34.2    DD       Fail
16  17       Chris Anderson      64     86   79.4    BB  Succesful

In [ ]:
#df.to_excel("Result.xlsx")